@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor

<RadzenComponents />

<RadzenLayout Style="grid-template-areas: 'rz-header' 'rz-body';">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10px" class="rz-p-2">
            <RadzenImage Path="images/logo.png" Style="height: 40px; margin-right: 15px;" />
            <RadzenText TextStyle="TextStyle.H6" Style="margin: 0;">Punkouter Software</RadzenText>
        </RadzenStack>
    </RadzenHeader>

    <RadzenBody Style="overflow-y: auto">
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
}