<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/software-dark.css" />
    <link rel="stylesheet" href="css/main.css" />
    <HeadOutlet />
</head>
<body class="rz-background-color-base rz-color-base">
    <Routes />
    <script src="js/core/app-insights-init.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>
</html>